
<!-- <div class = "container">
    <div class = "row">
<ng-container *ngFor = "let items of addons">
    <div class = "card col-md-3">
        <img src = "{{ items.addonDescription }}" >
        <h5 class = "text-primary">{{items.addOnName}}</h5>
        <h5>{{ items.addAddonPrice }}</h5>
        <button (click) = "updateadd(items.addOnid)">Edit</button>
        <button (click) = "deleteadd(items.addOnid)">Delete</button>
    </div>
    <br>
</ng-container>
</div>
</div> -->
<br>
<br>
<div class=" back ">
<div class = "container ">
    <div class = "row row-cols-1 row-cols-md-3 g-5">
        
<ng-container *ngFor = "let items of addons">
    <div class="col">
    <div class="card  shadow p-3 mb-4 bg-body rounded thumbcard">
        <img src = "{{ items.addonDescription }}" class=" pic card-img-top mt-1">
        <div class="card-body">
            <h5 class = "card-title text-center">{{items.addOnName}}</h5>
            <h5 class = "card-title text-center text-success">Price: {{ items.addAddonPrice }}</h5>
            <div class=" text-center">
                
            <button class="btn btn-primary me-2 " (click) = "updateadd(items.addOnid)">Edit&nbsp;<fa-icon [icon]="faEdit"></fa-icon></button>
        <!-- </div>
        <div class=" text-center"> -->
            <button  class="btn bg-danger text-white " (click) = "deleteadd(items.addOnid)">Delete&nbsp;<fa-icon [icon]="faTrash"></fa-icon></button>
        </div>
        </div>
        
        </div>
</div>
</ng-container>
    </div>
</div>
</div>