<p></p>

<button (click) = "add()">Add-ons</button>

<div class = "container">
    <div class = "row">
<ng-container *ngFor = "let items of addons">
    <div class = "card col-md-3">
        <img src = "{{ items.addOnDec }}" >
        <h5 class = "text-primary">{{items.addOnName}}</h5>
        <h5>{{ items.addOnPrice }}</h5>
        <button (click) = "updateadd(items.addOnid)">Edit</button>
        <button (click) = "deleteadd(items.addOnid)">Delete</button>
    </div>
    <br>
</ng-container>
</div>
</div>

