<div class = "form" >
    <form (ngSubmit) = "onSubmit()">
        <div >
            <input type = "text" id = "addOnsName" 
                    [(ngModel)] = "newaddon.addOnName" name = "addOnName" placeholder="Enter name">
        </div>
        <div >
            <input type = "text" id = "addOnsPrice" 
                    [(ngModel)] = "newaddon.addOnPrice" name = "addOnPrice" placeholder="Enter Price">
        </div>
        <div >
            <input type = "text" id = "addOnsImage" 
                    [(ngModel)] = "newaddon.addOnDec" name = "addOnDec" placeholder="Enter URL of image">
        </div>
        <button type = "submit">SUBMIT</button>
    </form>
    
</div>
    