<form id="products">
    <input class="checkbox" type="checkbox"  value="1000" /> JavaScript
    <input class="checkbox" type="checkbox"  value="2000" /> HTML
    <input class="checkbox" type="checkbox"  value="3000" /> CSS
    <input class="checkbox" type="checkbox"  value="4000" /> jQuery
    <input class="checkbox" type="checkbox"  value="5000" /> Python
    <input class="checkbox" type="radio" value="1000" /> Angular
    <input class="checkbox" type="radio" value="2000" /> React
    <input class="checkbox" type="radio" value="3000" /> React Native
    <input class="checkbox" type="radio" value="4000" /> Vue.js
    <div id="price">Total Price: $ <span >0</span></div>
  </form>