

    <br/>
        <div class="container">
            <link rel="stylesheet" href="booking.component.css">
            <div *ngIf="currentPage === 1">
              <form>
                <div class="form first">
                    <div class="details event">
                        <span class="title" class="btn4"><b>Event Details</b></span>
                        <br/><br/>
                        <div class="fields">
                            <div class="form-group; mb-3 row">
                                <label for="eventName" class="col-sm-2 col-form-label">Event Name</label><br>
                                <div class="col-sm-10">
                                <input type="text" name="eventName" [(ngModel)]="formData.eventName" class="form-control" placeholder="Enter event name" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="applicantName" class="col-sm-2 col-form-label">Applicant name</label><br>
                                <div class="col-sm-10">
                                <input type="text" name="applicantName" [(ngModel)]="formData.applicantName" class="form-control" placeholder="Enter your name" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="applicantAddress" class="col-sm-2 col-form-label">Applicant Address</label><br>
                                <div class="col-sm-10">
                                <input type="text" name="applicantAddress" [(ngModel)]="formData.applicantAddress" class="form-control" placeholder="Enter your permanent address" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="applicantMobileNo" class="col-sm-2 col-form-label">Applicant Mobile Number</label><br>
                                <div class="col-sm-10">
                                <input type="text" name="applicantMobile" [(ngModel)]="formData.applicantMobile" class="form-control" placeholder="Enter your mobile number" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="applicantEmailId" class="col-sm-2 col-form-label">Applicant Email Id</label><br>
                                <div class="col-sm-10">
                                <input type="email" name="applicantEmail" [(ngModel)]="formData.applicantEmail" class="form-control" placeholder="Enter your email Id" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="eventAddress" class="col-sm-2 col-form-label">Event Location</label><br>
                                <div class="col-sm-10">
                                <input type="text"  name="eventAddress" [(ngModel)]="formData.eventAddress" class="form-control" placeholder="Enter location of event" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="eventDate" class="col-sm-2 col-form-label">Event Date</label><br>
                                <div class="col-sm-10">
                                <input type="date"  name="eventDate" [(ngModel)]="formData.eventDate" class="form-control" placeholder="Enter date of event" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="eventTime" class="col-sm-2 col-form-label">Event Time</label><br>
                                <div class="col-sm-10">
                                <input type="time"  name="eventTime" [(ngModel)]="formData.eventTime" class="form-control" placeholder="Enter the time of event" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="noOfPeople" class="col-sm-2 col-form-label">People Count</label><br>
                                <div class="col-sm-10">
                                <input type="text"  name="noOfPeople" class="form-control" placeholder="Enter number of people" required="" ngModel>
                                </div>
                            </div>
    
        
                            <button type="button"  (click)="nextPage()" class="btn" class="btn btn-secondary"><b>NextPage</b></button>
                        </div>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-2" role="group" aria-label="First group">
                              <button type="button" class="btn btn-primary" class="btn"><b>1</b></button>&nbsp;&nbsp;
                              <button type="button"  (click)="nextPage()" class="btn" class="btn btn-secondary"><b>2</b></button>
                            </div>                        
                        </div>
                        <br/>
                        <br/>
                    </div>
                </div>
                </form></div>
            
                <div *ngIf="currentPage === 2">
                    <form action="#" #BookEvent="ngForm" >
                <div class="form second">
                    <div class="details food and addOns">
                        <span class="title" class="btn4" ><b>Food Catering Details</b></span>
                        <br/><br/>
                        <div class="fields">
                            <div class="form-group; mb-3 row">
                                <label for="selectFoodCategory" class="col-sm-2 col-form-label">Food Type</label><br>
                                <div class="col-sm-10">
                                <select name="selectFoodCategory" class="form-control" multiple="" [(ngModel)]="formData.foodmenu" name="foodmenu" ngModel>
                                    <option disabled="" selected="" name="" class="form-control">Select the category (Hold shift to select more than one)</option>
                                    <option name="" class="form-control">Chapathi       50</option>
                                    <option name="" class="form-control">Pizza          150</option>
                                    <option name="" class="form-control">Sandwich       75</option>
                                    <option name="" class="form-control">Gulab Jamun    30</option>
                                </select>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="quantityOfVeg" class="col-sm-2 col-form-label" >Quantity of Veg Items</label><br>
                                <div class="col-sm-10">
                                <input type="number"  name="quantityOfVeg" class="form-control" name="Quantity" [(ngModel)]="formData.Quantity" required="" ngModel placeholder="Enter Quantity of Veg items" required="" ngModel>
                                </div>
                            </div>
    
                            <div class="form-group; mb-3 row">
                                <label for="quantityOfNonVeg" class="col-sm-2 col-form-label" >Quantity of Non Veg Items</label><br>
                                <div class="col-sm-10">
                                <input type="number"  name="quantityOfNonVeg" class="form-control" name="non_Quantity" [(ngModel)]="formData.non_Quantity" placeholder="Enter Quantity of Non veg items" required="" ngModel>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="details AddOn">
                        <b><span class="title" class="btn4"><b>AddOn Details</b></span></b>
    <br/><br/>
                        <div class="fields">
                            <div class="form-group; mb-3 row">
                                <label for="selectAddOnsCategory" class="col-sm-2 col-form-label">Select Addon</label><br>
                                <div class="col-sm-10">
                                    <select name="selectAddOnsCategory" class="form-select" multiple aria-label="Default select example" multiple="multiple"  [(ngModel)]="formData.AddOn" name="Addon" ngModel>
                                        <option disabled="" selected="" name="" class="form-control" >Select the category (Hold shift to select more than one)</option>
                                        <option name="" class="form-control" >Mehandi    2500</option>
                                        <option name="" class="form-control">Magic Show 2500</option>
                                        <option name="" class="form-control">Dj Party   2500</option>
                                        <option name="" class="form-control">Game Show  2500</option>
                                    </select>

                                </div>
                            </div>
                        </div>
    

                                <button type="button" (click)="previousPage()" class="btn btn-secondary" class="btn"><b>Back</b></button>&nbsp;&nbsp;

                             <div>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                  <button type="button" (click)="previousPage()" class="btn btn-secondary" class="btn"><b>1</b></button>&nbsp;&nbsp;
                                  <button type="button" disabled class="btn"><b>2</b></button>

                                </div>                        
                            </div>
                            
                            <button class="btn btn-outline-primary" id="btn1" type="submit" (click)="submit(BookEvent)">
                                <b>Book Event</b>
                            </button>
                            <br/>
                            <br/><br/>
                        </div>
                    </div> 
                </div>
            </form>
        </div>
    
    </div>
